@import url('https://use.typekit.net/zek3jpl.css');

$font-aller: 'aller', sans-serif;

#load{
    color: white;
    font-family: $font-aller;
    background-color: black;
    border: solid 1px white;
    width: 80px;
    margin: 20px 0;
}